---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
{
    title: "Get Clear",
    description: "We help you get clear on your tuition center's current position and key areas for growth.",
    icon: "bx:bx-target-lock",
  },
  {
    title: "Recommend",
    description: "Our team customizes a growth plan tailored to your center's needs and goals.",
    icon: "bx:bx-cog",
  },
  {
    title: "Optimize",
    description: "We implement the plan, integrate it with your processes, and train your staff to ensure success.",
    icon: "bx:bx-rocket",
  },
  {
    title: "Win",
    description: "We track your progress and support you as you reach key milestones for growth.",
    icon: "bx:bx-trophy",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Process for Driving Education Business Growth
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-4 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
