---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="people on a bean stalk"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Feeling busy and not growing your education business? We can help!
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      EduGrow is a consulting company focused on helping education business owners implement the systems they need to increase profits & improve efficiency across their organization.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
      href="https://calendar.app.google/P5opCYMPUEnWbbfA8"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Let's Scale
      </Link>
    </div>
  </div>
</main>
